<link rel="stylesheet" href="styile.css">
<h2>Compression Tool</h2>
<form action="/compress" method="POST" enctype="multipart/form-data" class="wraper">
    <button class="btn" type="button">Upload Text File</button>
    <button class="btn1"  type="submit">Download Compressed File</button>
    <input type="file" class="input" accept=".txt" style="display: none;" name="fileinput">
</form>
<script src="/handelfileinput.js"></script>