<link rel="stylesheet" href="styile.css">
<h2>Compression Tool</h2>
<form action="/decompress" method="POST" enctype="multipart/form-data" class="wraper" >
    <button class="btn" type="button">Upload Binary File</button>
    <button class="btn1"  type="submit">Download Decompressed File</button>
    <input type="file" class="input" accept=".bin" style="display: none;" name="fileinput">
</form>
<script src="/handelfileinput.js"></script>
